*{
    font-family: 'Montserrat', sans-serif!important;
}
.container{
    margin-left: 80px;
    margin-right: 60px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.item {
    flex: 0 0 18rem;
    margin-right: 10px;
    margin-bottom:16px;
    width:25%;
}
h1 {
	font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 5rem;
}
img{
    width: 18rem;
    height: 11.8rem;
    object-fit: cover;
    border-radius: 5px;
}
.tipo{
    font-size:12px;
    font-weight: lighter;

}
.preco{
    font-size:14px;
    font-weight: bold;
}
